@font-face {
    font-family: Fonte;
    src: url(./Jujutsu\ Kaisen.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Fonte;
    font-size: larger;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    background-image: url(./img/backgroundImage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100vh;
}

.title {
    padding-top: 10vh;
    color: white;
    font-size: 15vw;
}

.imageBackground {
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 90vh;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 20vh;
    align-items: center;
    padding-bottom: 2rem;
}

.buttonPontuacao {
    background-color: #F27D9D;
    border-radius: 1rem;
    width: 90vw;
    height: 8vh;
    border: 0;
}

.buttonJogar {
    background-color: #FF3D72;
    border-radius: 1rem;
    width: 90vw;
    height: 8vh;
    border: 0;
}

.buttonPontuacao:hover {
    background-color: #dd6b89;
    cursor: pointer;
}

.buttonJogar:hover {
    background-color: #f82960;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

/* -------------------------------------- */

.glitch {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
        0.025em 0.04em 0 #fffc00;
    animation: glitch 725ms infinite;
}

.glitch span {
    position: absolute;
    top: 0;
    left: 0;
}

.glitch span:first-child {
    animation: glitch 500ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.04em, -0.03em);
    opacity: 0.75;
}

.glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.04em, 0.03em);
    opacity: 0.75;
}

@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
            0.025em 0.04em 0 #fffc00;
    }

    15% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
            0.025em 0.04em 0 #fffc00;
    }

    16% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
            -0.05em -0.05em 0 #fffc00;
    }

    49% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
            -0.05em -0.05em 0 #fffc00;
    }

    50% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
            0 -0.04em 0 #fffc00;
    }

    99% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
            0 -0.04em 0 #fffc00;
    }

    100% {
        text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
            -0.04em -0.025em 0 #fffc00;
    }
}