@font-face {
    font-family: Fonte;
    src: url(./Jujutsu\ Kaisen.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Fonte;
    font-size: larger;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    background-image: url(./img/won.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.outerBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 80vw;
    height: 50vh;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 30vh;
    border-radius: 1rem;
}

.title {
    color: black;
    font-size: 15vw;
}

.imageBackground {
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 90vh;
}

.chibiGojo {
    width: 15vw;
    height: 15vw;
    z-index: 4;
    padding-bottom: 13rem;
    position: absolute;
}

/* ---------------------------------------- */

.gradient-border {
    --border-width: 3px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    font-family: Lato, sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
    background: #222;
    border-radius: var(--border-width);
}

.gradient-border::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg,
            hsl(224, 85%, 66%),
            hsl(269, 85%, 66%),
            hsl(314, 85%, 66%),
            hsl(359, 85%, 66%),
            hsl(44, 85%, 66%),
            hsl(89, 85%, 66%),
            hsl(134, 85%, 66%),
            hsl(179, 85%, 66%));
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}