@font-face {
    font-family: Fonte;
    src: url(./Jujutsu\ Kaisen.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Fonte;
    font-size: larger;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    background-image: url(./img/won.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.outerBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 80vw;
    height: 50vh;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 30vh;
    border-radius: 1rem;
}

.title {
    color: black;
    font-size: 15vw;
}

.imageBackground {
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 90vh;
}

.chibiGojo {
    width: 15vw;
    height: 15vw;
    z-index: 4;
    padding-bottom: 13rem;
    position: absolute;
}

/* ---------------------------------------- */

@keyframes firework {
    0% {
        transform: translate(-50%, 60vh);
        width: 0.5vmin;
        opacity: 1;
    }

    50% {
        width: 0.5vmin;
        opacity: 1;
    }

    100% {
        width: 45vmin;
        opacity: 0;
    }
}

.firework,
.firework::before,
.firework::after {
    --top: 60vh;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.5vmin;
    aspect-ratio: 1;
    background:
        /* random backgrounds */
        radial-gradient(circle, #ff0 0.2vmin, #0000 0) 50% 00%,
        radial-gradient(circle, #ff0 0.3vmin, #0000 0) 00% 50%,
        radial-gradient(circle, #ff0 0.5vmin, #0000 0) 50% 99%,
        radial-gradient(circle, #ff0 0.2vmin, #0000 0) 99% 50%,
        radial-gradient(circle, #ff0 0.3vmin, #0000 0) 80% 90%,
        radial-gradient(circle, #ff0 0.5vmin, #0000 0) 95% 90%,
        radial-gradient(circle, #ff0 0.5vmin, #0000 0) 10% 60%,
        radial-gradient(circle, #ff0 0.2vmin, #0000 0) 31% 80%,
        radial-gradient(circle, #ff0 0.3vmin, #0000 0) 80% 10%,
        radial-gradient(circle, #ff0 0.2vmin, #0000 0) 90% 23%,
        radial-gradient(circle, #ff0 0.3vmin, #0000 0) 45% 20%,
        radial-gradient(circle, #ff0 0.5vmin, #0000 0) 13% 24%;
    background-size: 0.5vmin 0.5vmin;
    background-repeat: no-repeat;
    animation: firework 2s infinite;
}