@font-face {
    font-family: Fonte;
    src: url(./Jujutsu\ Kaisen.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Fonte;
    font-size: larger;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    background-image: url(./img/won.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.outerBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 80vw;
    height: 50vh;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 30vh;
    border-radius: 1rem;
}

.title {
    color: black;
    font-size: 15vw;
}

.imageBackground {
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 90vh;
}

.chibiGojo {
    width: 15vw;
    height: 15vw;
    z-index: 4;
    padding-bottom: 13rem;
    position: absolute;
}

/* ---------------------------------------- */

.firework {
    animation: firework 2s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.5vmin;
    aspect-ratio: 1;
    background: 
    radial-gradient(circle, yellow 0.5vmin, #0000 0) 50% 0%
    radial-gradient(circle, yellow 0.5vmin, #0000 0) 50% 0%
    radial-gradient(circle, yellow 0.5vmin, #0000 0) 50% 0%
    radial-gradient(circle, yellow 0.5vmin, #0000 0) 50% 0%
    radial-gradient(circle, yellow 0.5vmin, #0000 0) 50% 0%
    radial-gradient(circle, yellow 0.5vmin, #0000 0) 50% 0%
    radial-gradient(circle, yellow 0.5vmin, #0000 0) 50% 0%
    radial-gradient(circle, yellow 0.5vmin, #0000 0) 50% 0%
    radial-gradient(circle, yellow 0.5vmin, #0000 0) 50% 0%
    radial-gradient(circle, yellow 0.5vmin, #0000 0) 50% 0%
    radial-gradient(circle, yellow 0.5vmin, #0000 0) 50% 0%
    radial-gradient(circle, yellow 0.5vmin, #0000 0) 50% 0%
    radial-gradient(circle, yellow 0.5vmin, #0000 0) 50% 0%
    radial-gradient(circle, yellow 0.5vmin, #0000 0) 50% 0%
    radial-gradient(circle, yellow 0.5vmin, #0000 0) 50% 0%
    radial-gradient(circle, yellow 0.5vmin, #0000 0) 50% 0%
    radial-gradient(circle, yellow 0.5vmin, #0000 0) 50% 0%
    radial-gradient(circle, yellow 0.5vmin, #0000 0) 50% 0%
    radial-gradient(circle, yellow 0.5vmin, #0000 0) 50% 0%
    radial-gradient(circle, yellow 0.5vmin, #0000 0) 50% 0%
    ;
    background-size: 0.5vmin 0.5vmin;
    background-repeat: no-repeat;
    z-index: 10;
}

@keyframes firework {
    0% {
        transform: translate(-50%, 60vh);
        width: 0.5vmin;
        opacity: 1;
    }

    50% {
        width: 0.5vmin;
        opacity: 1;
    }

    100% {
        width: 45vmin;
        opacity: 0;
    }
}

.firework::before {
    transform: translate(-50%, -50%) rotate(25deg) !important;
}

.firework::after {
    transform: translate(-50%, -50%) rotate(-37deg) !important;
}